body{
    background-color: #E1FFEE 
}
hr {
    background-color: white;
    border-style:none;
    border-top-style:dotted ;
    border-color: grey;
    border-width: 5px;
    width: 30%;

}
h1{
    background-color: #66bfbf;
    
    
    
    
}
h2{
    background-color: #66bfbf;
}
h3{
    background-color: #66bfbf;

}
